<form action = "question/modify/<%=@id%>">
    질문자: <input type = "text" name = "user_name"></br>
    내용 : <input type = "text" name = "content"> </br>
  <div>
 <select name = "option">
  <option value="noname">익명</option>
  <option value="usename">내이름</option>
</select>
</div>
    <input type = "submit" value = "질문하기">
</form>